.button-bg {
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 10px;
}
.button-container {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
  background-color: var(--col-red);
  padding: var(--padding-default);
  cursor: pointer;
  transition: 0.3s linear;
}
