.cards-bg {
  width: 100vw;
  height: auto;
  overflow: hidden;
  padding: var(--padding-lg);
}
.slider-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  height: auto;
  transition: transform 0.5s ease-in-out;
}
.card {
  min-width: 25%; /* 4 cards visíveis */
  max-height: 340px;
  cursor: pointer;
}
.card:hover {
  img {
    scale: 1.1;
  }
  .card-text {
    background-color: var(--col-green);
  }
}
.card-content {
  background: var(--col-bk2);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img {
  width: 100%;
  height: 280px;
  overflow: hidden;
}
.card-img img {
  transition: 0.3s ease-in-out;
}

.card-text {
  font-size: var(--subtitle-size-mb);
  text-align: center;
  padding: 10px;
  width: 100%;
  border: 1px solid var(--col-bk3);
  text-transform: uppercase;
  transition: 0.3s linear;
}

.arrow {
  position: absolute;
  padding: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: var(--col-bk3);
  color: var(--col-wh);
  cursor: pointer;
  z-index: 2;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

@media (max-width: 600px) {
  .cards-bg {
    padding: var(--padding-pc);
  }
  .card {
    min-width: 50%; /* 4 cards visíveis */
    max-height: 340px;
    cursor: pointer;
  }
  .card-img {
    width: 100%;
    height: 240px;
    overflow: hidden;
  }
  .card-img img {
    width: 100%;
  }
  .arrow {
    position: absolute;
    padding: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: var(--col-bk3);
    color: var(--col-wh);
    cursor: pointer;
    z-index: 2;
  }
}
