:root {
  --col-bk: #0a0a0a;
  --col-bk2: #0f0f0f;
  --col-bk3: #202124;
  --col-cz: #bcbcbc;
  --col-cz2: #a1a0a3;
  --col-wh: #ffffff;
  --col-red: #fb0025;
  --col-green: #06be2e;
}

.col-bk {
  color: var(--col-bk);
}
.col-bk2 {
  color: var(--col-bk2);
}
.col-bk3 {
  color: var(--col-bk3);
}
.col-cz {
  color: var(--col-cz);
}
.col-wh {
  color: var(--col-wh);
}
.col-red {
  color: var(--col-red);
}
.col-green {
  color: var(--col-green);
}
