.p-regular {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.p-medium {
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.p-medium2 {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
}

.p-semibold {
  font-family: "Helvetica", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.p-semibold2 {
  font-family: "Helvetica", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
}
