footer {
  width: 100vw;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: var(--padding-lg);
  border-top: 1px solid var(--col-bk3);
}
.footer-container {
  max-width: 1000px;
  margin: 20px auto;
}
.footer-conteudo {
  display: flex;
  justify-content: space-between;
}
.redes-sociais {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.redes-sociais img {
  filter: invert();
}
.footer-text {
  text-align: center;
}

@media (max-width: 600px) {
  .footer-bg {
    padding: 20px;
  }
  .footer-container {
    margin: 0 auto;
  }
  .footer-conteudo {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
  }
  .redes-sociais {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}
