:root {
  --padding-pc: 20px 10px;
  --padding-default: 20px;
  --padding-lg: 40px 10px;

  /* FONT */
  --title-size-mb: 1.6rem;
  --subtitle-size-mb: 0.9rem;
}
::-webkit-scrollbar {
  display: none;
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--col-bk);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.zoom {
  width: 60px;
  height: 60px;
  animation: zoom 1s linear infinite;
}
.zoom img {
  filter: saturate(0);
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
#site-content {
  display: none;
}

body {
  background-color: var(--col-bk);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
