.header-bg {
  width: 100vw;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: var(--padding-lg);
  border-bottom: 1px solid var(--col-bk3);
}
.header-container {
  display: flex;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
}

.header-conteudo img {
  max-width: 72px;
  max-height: 72px;
  filter: grayscale(100%);
}

@media (max-width: 600px) {
  .header-bg {
    padding: 20px;
  }

  .header-conteudo img {
    max-width: 48px;
    max-height: 48px;
  }
}
